header {
    background-image: url(./images/bg-header-desktop.png);
    align-items: center;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

.ios {
    background-color: hsl(171, 66%, 44%);
}

.mac {
    background-color: hsl(233, 100%, 69%);
}

button {
    width: 10rem;
    height: 2.5rem;
    border-radius: 4rem;
    margin: 1rem 0.3rem;
    border: none;
    color:white;
}


.content{
    padding: 4rem;
}

.content h1 {
    padding-top: 2rem;
}

.content img {
    width: 5rem;
    padding-top: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

header {
    background-image: url(./images/bg-header-desktop.png);
    align-items: center;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

.text {
    align-items: center;
    text-align: center;
    justify-content: center;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.flexbox1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.box img {
    width: 80%;
}

.box1 {
    padding: 0rem 10rem 5rem 8rem;
    /* background-color: blue; */
    width: 50%;
    line-height: 2rem;
}

.box1 h3 {
    line-height: 2rem;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.box1 p {
    padding-bottom: 1rem;
}

p {
    color: hsl(201, 11%, 66%);
}

.box1 h3 {
    line-height: 2rem;
}

.container1 {
    align-items: center;
    text-align: center;
    padding: 6rem 4rem 4rem 4rem;
}

.container3 {
    text-align: center;
    line-height: 2.3rem;
}

.contain {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;
    line-height: 2rem;
    margin: 2rem auto;
    /* background-color: chartreuse; */
    width: 100%;
    padding: 6rem;
}

.black {
    padding-right: 4rem;
    /* background-color: chartreuse; */
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.plain {
    padding-right: 4rem;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
}

.clipboard {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    line-height: 2rem;
}

.clipboard h2 {
    padding-top: 4rem;
}

footer {
    background-color: hsl(180, 19%, 93%);
    
}

.foot {
    display: flex;
    justify-content: space-around;
    line-height: 2rem;
}

.foot-logo img {
    width: 4rem;
    align-items: center;
    padding-top: 2.0rem;
}
.social-icon img {
    text-indent: 50px;
    align-items: center;
    padding-top: 2.0rem;
}

h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.attribution {
    font-size: 15px;
    text-align: center;
    background-color: white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (max-width:900px){
    .flexbox1 {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .content {
        padding: 2rem;
    }
    .box1 {
        line-height: 2rem;
        width: 100%;
        padding: 2rem;
    }
    .contain{
        flex-direction: column;
        margin: 0 auto;
        /* background-color: chartreuse;  */
        padding: 2rem;
    }
    .container1 {
        padding: 2rem;
    }
    .container2 img {
        width: 80%;
        margin-left: 10%;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* background-color: chartreuse; */
        padding-bottom: 2rem;
    }
    .black {
        padding-right: 0;
        /* background-color: chartreuse;  */
    
    }
    .plain {
        padding-right: 0;
    }
    .clipboard{
        padding: 2rem;
        padding-bottom: 4rem;
    
    }
    .clipboard h2{
        padding-top: 4rem;
    
    }
    .clipboard p {
        padding-bottom: 2rem;
    }
    .clipboard button {
        margin-bottom: 0;
        padding: 0;
    }
    .icons {
        flex-direction: column;
    }
    .icons img {
        width: 100%;
        padding-bottom: 2rem;
    }
    p{
        color: hsl(201, 11%, 66%);
    }
    .text {
        padding: 2rem;
    }
    
    button {
        width: 80%;
    }
    .foot{
        flex-direction: column;
        justify-content: space-around;
        line-height: 2rem;
        margin: 0 auto;
        text-align: center;
    }
}
    